<section class="description">
	<hr class="style-eight"></hr>
</section>

<section class="blog_context">
 <h3><%= @article.title%></h3>
 <div><%= @article.body.html_safe%></div>
 <div><%= @article.created_at.strftime("%b %d, %Y")%></div>
 <%= render 'disqus' %>
</section>