<section class="description">
	<hr class="style-eight"></hr>
			<a href="" class="topo"><i class="fa fa-arrow-up fa-2x"></i></a>
			<footer class="site-footer">

			  <div class="wrapper">

			    <h2 class="footer-heading">TRIP Fotografia</h2>

			    <div class="footer-col-wrapper">
			      <div class="footer-col footer-col-1">
			        <ul class="contact-list">
			          <li>Telefone:</li>
			          <li><a href="tel:+62993161606">(62) 99316-1606</a></li>
			          <li><a href="tel:+62993161606">(62) 8124-0393</a></li>
			        </ul>
			      </div>

			      <div class="footer-col footer-col-2">
			        <ul class="social-media-list">

			          <li>
			            <a href="https://www.instagram.com/tripfotografia/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
			          </li>



			          <li>
			           <a href="https://www.facebook.com/profile.php?id=415695338586976&ref=ts&fref=ts"> <i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a>
			          </li>



			          <li>
			           <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>  Twitter</a>
			          </li>
			        </ul>
			      </div>


			    </div>

			  </div>

			</footer>
		</section>
	</div>